#logo.left
	%a.ignoreLinkColor{:href=>"/"}vidja!
#smallerBox
	%h2 That's no moon!
	%h3 It's a 404!
	%p
		Sorry, you're gonna want to check that url, cause something's not right.
	%p
		Think we're wrong? Shoot us an
		%a{:href => '/contact'}email
	%p
		%img{:src=>"https://vidja.s3.amazonaws.com/not-good-computer.jpg"}