#logo.left
	%a.ignoreLinkColor{:href=>"/"}vidja!
#smallerBox
	%h2 Error'd!
	%p
		Something went wrong. We're looking into it.
	%p
		Questions? Shoot us an
		%a{:href => '/contact'}email
	%p
		%img{:src=>"https://vidja.s3.amazonaws.com/not-good-computer.jpg"}