#logo.left
	%a.ignoreLinkColor{:href=>"/"}vidja!
#smallerBox
	%h2 Where to begin...
	%p
		Vidja originally coded for the 2010 Rails Rumble over the course of one frantic 48 hour period by Josh Kaplan, a member of the Planeteers.
	%p
		Its goal is to be a simple video sharing site for the masses. It will always be free to use, but I'm working on a pay system for higher upload limits / higher quality video.
	%p
		All of our encoding is done by Zencoder, so anything they support, we support.
	%p
		Anything else you want to know? Email me at josh[at]thevidja[dot]com and I'll get back to you quickly.