#smallerBox
	#logo
		vidja!
	#slogan=@slogan
	%div
		%p Vidja is now closed. It's a shame, but it's how it is.
		%p I said I was putting up the code and I still am, but it's gonna be a bit. I still need to document the setup process and write some tests, but it'll definitely be up by the end of the year. Feel free to run your own vidja clone once it's up.
		%p Thank you all for your support. I've received a ton of great emails from a lot of people and I really appreciate it. You guys are great.
		%p I've received a couple requests to start vidja up again, but I simply don't have the money to do it. If anybody has any interest in running the site with the old content, please email me and let me know.
		%p
			I'm sorry it had to end this way. If you have any questions at all, please email me at
			%a{:href => "mailto:josh@thevidja.com"}josh@thevidja.com
		%p Love, Josh