#logo.left
	%a.ignoreLinkColor{:href=>"/"}vidja!
#smallerBox
	%h2
		You are absolutely amazing
	%p
		Thank you so much for your donation! When we roll out pro accounts, you'll have one! Just create a free account and email us with your username, we'll credit you the time you deserve!
	%p
		We love our users! (especially you!)