#logo.left
	%a.ignoreLinkColor{:href=>"/"}vidja!
#smallerBox
	%h2
		Sorry
	%p
		Something went wrong. We can't host this. May I recommend checking the file and trying again?
	%span{:style => 'font-size: 72pt;color: red;'}:(