#logo.left
	%a.ignoreLinkColor{:href=>"/"}vidja!
#smallerBox
	%h2 That video doesn't exist!
	%p
		Sorry, you're gonna want to check that url, cause something's not right.
	%p
		Think we're wrong? Shoot us an
		%a{:href => '#'}email
	%p
		%img{:src=>"https://vidja.s3.amazonaws.com/not-good-computer.jpg"}